---
apiVersion: "cert-manager.io/v1"
kind: ClusterIssuer
metadata:
  name: letsencrypt-staging
  namespace: default
spec:
  acme:
    email: "letsencrypt@nicolaschan.com"
    profile: shortlived
    server: "https://acme-staging-v02.api.letsencrypt.org/directory"
    privateKeySecretRef:
      name: letsencrypt-staging-account-key
    solvers:
    - http01:
        ingress:
          serviceType: ClusterIP
---
apiVersion: "cert-manager.io/v1"
kind: ClusterIssuer
metadata:
  name: letsencrypt-prod
  namespace: cert-manager
spec:
  acme:
    email: "letsencrypt@nicolaschan.com"
    profile: shortlived
    server: "https://acme-v02.api.letsencrypt.org/directory"
    privateKeySecretRef:
      name: letsencrypt-prod-account-key
    solvers:
    - http01:
        ingress:
          serviceType: ClusterIP
---
apiVersion: "cert-manager.io/v1"
kind: ClusterIssuer
metadata:
  name: selfsigned-issuer
  namespace: default
spec:
  selfSigned:
---
apiVersion: "cert-manager.io/v1"
kind: ClusterIssuer
metadata:
  name: selfsigned-ca-issuer
  namespace: default
spec:
  ca:
    secretName: root-secret
---
apiVersion: "cert-manager.io/v1"
kind: Certificate
metadata:
  name: selfsigned-ca
  namespace: default
spec:
  isCA: true
  commonName: "intranet.lol Pi Cluster"
  secretName: root-secret
  privateKey:
    algorithm: ECDSA
    size: 256
  issuerRef:
    name: selfsigned-issuer
    kind: ClusterIssuer
    group: "cert-manager.io"
